.main{
    flex: 1;
    color: #FFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.main .GridIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius:50%;
    background-color: rgba(0,0,0, .1);
}
.main .GridIcon img{
    width: 30px;
}
.main .GredTitle{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.main .gridInfo {
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
}
.yourImc {
    font-size: 17px;
    margin: 10px 0 50px 0 ;
}