*{box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header.headerContainer{
    max-width:900px;
    margin: 40px auto;
        
}
.main{
    margin-bottom: 50px;
}
.logoImg{
   width: 150px;
       
}
.container{
    max-width: 900px;
    display: flex;
    margin: auto;
    
}
.container .leftSide{
    flex: 1;
    margin-right: 40px;
}
.container .leftSide h1{
margin: 0;
font-size: 40px;
color: #3A4B5C;
}
.container .leftSide p{
font-size: 16px;
margin-bottom: 40px;
color: #6A7D8B;
}
.container .leftSide input{
width: 100%;
border: 0;
border-bottom: 2px solid rgba(150, 163,171, .5);
padding: 10px 2px;
margin-bottom: 20px;
font-size: 14px;
outline: 0;
}
.container .leftSide input:disabled{
    opacity: .5;
}
.container .leftSide button{
background: #227C9D;
color: #FFF;
font-size: 15px;
width: 100%;
border: 0;
border-radius: 10px;
padding: 15px 0;
cursor: pointer;
margin-top: 40px;
transition: all ease .3s;
}
.container .leftSide button:hover{
opacity: 0.8;
}
.container .leftSide button:disabled{
    opacity: .5;
}
.container .rightSide{
    flex: 1;
    margin-left: 40px;
    display: flex;
}
.container .rightSide .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.container .rightSide .rightBig{
   flex: 1;
   display: flex;
}
.container .rightSide .rightArrow{
    position: absolute;
    background-color: #227C9D;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 140px;
    margin-left: -35px;
    transition: all ease .3s;
}
.container .rightSide .rightArrow{
opacity: .7;

}

    
@media (max-width:920px) {
    header{
        padding: 0 20px;
    }  
    .container{
        padding: 0 20px;
        flex-direction: column;
    }
    .container .leftSide{
       
        margin-right:0;
    }
    .container .rightSide{
        margin-left:0;
        margin-top:50px;
    }
    .container .rightSide .rightArrow{
        margin-top:0;
        margin-left: 0;
        border-radius: 10px;
    }
}
@media (max-width:425px) {
    .container .rightSide .grid{
        grid-template-columns: 1fr;
    }
    .container .leftSide h1{
        font-size: 32px;
    }
}